apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: enterprise-observability
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/ProgrammingOperative/enterprise-observability-infra.git
    targetRevision: main
    path: .
    directory:
      recurse: true

  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
